.mq-message {
	padding: 1px;
	border-radius: 5px;
	margin: 0 0 9px 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}
	.mq-message > div {
		padding: 7px;
		border-radius: 5px;
		text-shadow: 0px 1px #ffffff;
	}

/* types */
.mq-message.mq-info {
	background: #ebdcb4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZGNiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMWIxODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ebdcb4 0%, #c1b183 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebdcb4), color-stop(100%,#c1b183));
	background: -webkit-linear-gradient(top,  #ebdcb4 0%,#c1b183 100%);
	background: -o-linear-gradient(top,  #ebdcb4 0%,#c1b183 100%);
	background: -ms-linear-gradient(top,  #ebdcb4 0%,#c1b183 100%);
	background: linear-gradient(top,  #ebdcb4 0%,#c1b183 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebdcb4', endColorstr='#c1b183',GradientType=0 );
}	
	.mq-message.mq-info div {
		background: #fff7e1;
		color: #6e663e;
	}