<div class="login">
  <h1>Welcome Back Matey, it's been too long</h1>
    {{ outlet }}
  
  <div class="message">
    Yearrrr, ye want a captian-y account? {{#linkTo "user.new"}}Make yar-self an account{{/linkTo}}
  </div>
</div>
