<div class="application-header">
  <div class="container">
    <ul class="left">
      <li class="logo"><a href="#">Captain Webhooks</a></li>
    </ul>

    <ul class="right">
      {{#unless currentUser}}
        <li class="link">{{#linkTo "user.new"}}Sign Up{{/linkTo}}</li>
        <li class="link">{{#linkTo "access_token.new"}}Log In{{/linkTo}}</li>
      {{/unless}}
      <li class="link">{{#linkTo "producers"}}Producers{{/linkTo}}</li>
      <li class="link">{{#linkTo "user"}}Account{{/linkTo}}</li>
      <li class="link">
        {{#if currentUser}}
          <a href="#" {{action logOut}}>Logout</a>
        {{/if}}
      </li>
    </div>
  </div>
</div>

<div class="application-content">
  <div class="container">
    {{outlet}}
  </div>
</div>

{{outlet modalOutlet}}
