<div class="application-header">
  <div class="container">
    <ul class="left">
      <li class="logo"><a href="#">Captain Webhooks</a></li>
    </ul>

    <ul class="right">
      {{#unless currentUser}}
        <li class="link">{{#linkTo "user.new"}}Sign Up{{/linkTo}}</li>
        <li class="link">{{#linkTo "access_token.new"}}Log In{{/linkTo}}</li>
      {{/unless}}
      <li class="buttons">
        {{#if currentUser}}
          <div {{action logOut}} class="mq-button mq-raised mq-medium mq-white">
            <div class="mq-wrapper">
              <i>Logout</i>
            </div>
          </div>
        {{/if}}
        <div {{action showNewEventDialog}} class="mq-button mq-raised mq-medium mq-orange">
          <div class="mq-wrapper">
            <i>Add a Hook</i>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>

<div class="application-content">
  <div class="container">
    {{outlet}}
  </div>
</div>

{{outlet modalOutlet}}