<div class="contentframe">
  {{#each producer in controller}}
    {{#linkTo "producer" producer}}{{producer.name}}{{/linkTo}}
  {{else}}
    You have not producers! Try making some!
  {{/each}}
</div>
