<div class="contentframe">
  <a {{action destroyRecord}} style="float: right; line-height: 28px;">Delete</a>
  <h1>{{model.name}}</h1>

  <div class="tablewrapper">
    <table class="consumerlist">
      <tr>
        <th>Consumer</th>
      </tr>
      {{#each consumer in model.consumers}}
        <tr>
          <td>{{#linkTo "consumer" consumer}}{{consumer.name}}{{/linkTo}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
