<div class="login">
  <h1>It's ok, we all forget our passwords sometimes.</h1>

  <div class="frame">
    <div class="framewrapper">

      <form>
        <div class="mq-formrow">
          <div class="mq-formfield" style="width: 425px;">
            {{view Ember.TextField valueBinding="email" disabledBinding="isProcessing" placeholder="Email address for your TravelApp account" class="large"}}
          </div>&nbsp;

          <div class="mq-formfield">
            <button {{action resetPassword}} {{bindAttr loading="isProcessing"}} class="mq-button mq-raised mq-large mq-orange" type="submit">
              <div class="mq-wrapper">
                <ul class="loading">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <i>Reset Password</i>
              </div>
            </button>
            {{#if errorMessage}}
              <div class="mq-error mq-top">
                <div class="mq-wrapper">
                  {{errorMessage}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="message">
    Remember your password? {{#linkTo login}}Try to log in{{/linkTo}}
  </div>
</div>