<div class="login">
  <h1>ARRR - Join the Captain and start with da Hooks!</h1>
    {{ outlet }}
  
  <div class="message">
    Already have an account? {{#linkTo access_token.new}}Sign in now{{/linkTo}}
  </div>
</div>
