@import "compass";
$experimental-support-for-svg: true;

html {
  height: 100%;
}

body {
  font-family: Helvetica, "Helvetica Neue", Arial, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #faf9f4;
  color: #303030;
}

a {
  text-decoration: none;
  color: #1097d6;

  &:hover {
    color: #0e6187;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
}

.application-content {
  margin: 50px 0;
}

.contentframe {
  border: solid 1px #bfd9e2;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px #ffffff;
  margin: 20px 0;
  background: #ffffff;
}

h1 {
  font-size: 22px;
  padding: 0 0 10px 0;
  line-height: 28px;
}

h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  padding-bottom: 10px;
}