@import "compass";
$experimental-support-for-svg: true;

.dialogshadow {
  position: fixed;
  -webkit-animation-duration: 0.30s;
  -webkit-animation-name: fadein;
  -moz-animation-duration: 0.30s;
  -moz-animation-name: fadein;
  animation-duration: 0.30s;
  animation-name: fadein;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background: #000000;
  @include background(radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.7) 100%));
  @include transition-property(opacity);
  @include transition-duration(1.1s);
}

.dialog {
  position: fixed;
  -webkit-animation-duration: 0.30s;
  -webkit-animation-name: bounce;
  -moz-animation-duration: 0.30s;
  -moz-animation-name: bounce;
  animation-duration: 0.30s;
  animation-name: bounce;
  position: absolute;
  z-index: 6000;
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  padding: 10px;

  .dialogcontent {
    background: #ffffff;
    border: solid 1px #d4d4d4;
    border-radius: 5px;
    box-shadow: 1px 1px #ffffff;
    padding: 25px;
  }

  h3 {
    font-size: 18px;
    color: #777777;
    font-weight: normal;
    text-shadow: 1px 1px #ffffff;
    line-height: 40px;
    padding-bottom: 10px;
  }
}


/* Bounce Animation */
@-webkit-keyframes bounce {
  from {
    @include scale(0.80);
    opacity: 0.5;
  }

  66% {
    @include scale(1.05);
  }

  to {
    @include scale(1);
    opacity: 1;
  }
}

@-moz-keyframes bounce {
  from {
    @include scale(0.80);
    opacity: 0.5;
  }

  66% {
    @include scale(1.05);
  }

  to {
    @include scale(1);
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    @include scale(0.80);
    opacity: 0.5;
  }

  66% {
    @include scale(1.05);
  }

  to {
    @include scale(1);
    opacity: 1;
  }
}

/* Fadein Animation */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}