.application-header {
  background: #ffffff;
  padding: 20px 0;
  line-height: 24px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
  font-size: 15px;
  height: 30px;

  .left {
    float: left;
    margin-left: -4px;
  }

  .right {
    float: right;
    text-transform: uppercase;
    font-size: 12px;

    .mq-button {
      text-transform: none;
    }
  }

  li {
    display: inline-block;
    margin: 0 0 0 4px;

    &.buttons {
      margin-left: 10px;
    }
  }

  .link a {
    color: #777777;
    display: inline-block;
    border-radius: 20px;
    padding: 0 8px;
    margin-top: 3px;
    vertical-align: middle;

    &:hover {
      color: #1097d6;
      background: #dbf0f9;
    }
  }

  .logo a {
    font-size: 30px;
    color: #303030;

    &:hover {
      color: #1097d6;
    }
  }
}