.tablewrapper {
  margin: 0 -10px;
}

.webhooklist {
  width: 100%;
  line-height: 28px;

  th {
    background: #f0f7fc;
    border-bottom: #e5edf4;
    padding: 0 5px;
    color: #637f96;
    text-shadow: 1px 1px #ffffff;

    &:nth-child(6n+1) {
      width: 60px;
      padding-left: 10px;
    }

    &:nth-child(6n+2) {
      width: 220px;
    }

    &:nth-child(6n+5) {
      width: 100px;
    }

    &:nth-child(6n+6) {
      width: 75px;
      text-align: right;
      padding-right: 10px;
    }
  }

  td {
    padding: 0 5px;

    &:nth-child(6n+1) {
      padding-left: 10px;
    }

    &:nth-child(6n+6) {
      text-align: right;
      padding-right: 10px;
    }
  }
}

.consumerlist {
  width: 100%;
  line-height: 28px;

  th {
    background: #f0f7fc;
    border-bottom: #e5edf4;
    padding: 0 5px;
    color: #637f96;
    text-shadow: 1px 1px #ffffff;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }

  td {
    padding: 0 5px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }
}

.variablelist {
  width: 600px;
  line-height: 28px;

  th {
    width: 130px;
    color: #777777;
  }
}