<!DOCTYPE html>
<html>
<head>
  <title>Captain Webhooks - Push APIs for Yarrr</title>
  <script src="http://www.parsecdn.com/js/parse-1.2.6.min.js"></script>
  <script>
    Parse.initialize("XTvXBtvLeKZ74zWa8IIU9RDcigFdTGjYwQcPqiQR", "7JTW44D6392yKWgUpzxjMVGzvYlFqDTaIwSzgpUd");
  </script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
